[2018-08-30 21:58] RicardoRamirezR opened #1 "Two context menus"
Hi there, starting to try you component, and it works very well only if is one menu on the page since you have the ul id hardcoded. is there any way to have more than one menu? thank you!

[2018-08-30 22:11] RicardoRamirezR commented on #1
Maybe:
[code]
[code]
of course, changing all references to ```this.id```

[2018-08-31 13:08] johndatserakis commented on #1
Hey there - good idea! I'll get this up and pushed by tonight.

[2018-09-01 12:50] RicardoRamirezR commented on #1
Great! Just a thing. Why is required the ```id``` when you can generate one like in the mounted function above, the ```this._uid```gives a different number for each component.

[2018-09-06 03:04] #1 closed

[2018-09-12 21:18] duongphuhiep opened #2 "Uncaught TypeError: Cannot read property 'classList' of null"
vue-simple-context-menu.esm.js?2560:60 Uncaught TypeError: Cannot read property 'classList' of null
    at VueComponent.hideContextMenu (vue-simple-context-menu.esm.js?2560:60)
    at VueComponent.onClickOutside (vue-simple-context-menu.esm.js?2560:63)
    at eval (v-click-outside.min.js?81a8:1)
    at Array.forEach (<anonymous>)
    at HTMLDocument.n.onEvent (v-click-outside.min.js?81a8:1)

![sel

[2018-09-12 21:40] duongphuhiep commented on #2
yes I set the required id = "tabsContextMenu"

[code]

it happens when `vue-router` navigate to other page which don't (no longer) have this element on the real DOM.

but the event onClickOutside (of the old page) is still effective because the old page is cached with `keep-alive`.

it appears that this case isn't handle

[2018-09-13 14:15] johndatserakis commented on #2
Ok got it - sorry you're having problems. I will be looking into this and will have a fix in a few days.

[2018-09-15 20:03] johndatserakis commented on #2
Ok so I just put out v2.0.1 - I made sure to check for the existence of the element before checking the `classList` - let me know if that still gives you any issues. Thank you.

[2018-09-18 08:54] duongphuhiep commented on #2
I confirm that the bug is fixed! keep up the good work. thank you

[2018-09-18 08:54] #2 closed

[2019-01-07 02:03] slieb opened #5 "problems overriding default CSS"
I may be doing something wrong, but I'm having problems overriding the CSS styles.  Everything working fine with the code, but I have the following in my project's home.css file, and the items in bold are not being reflected, but return to your defaults.  I've tried this without the [data-v-a99b4df2] as well, but no luck.  I'm sure it's something simple, but stumped.

Thanks.

.vue-simple-context-

[2019-01-07 17:22] johndatserakis commented on #5
Hey bud - no that's my fault. I've removed the `scoped` property on the component and rebuilt. It is now updated at v3.1.0 - so update your dependency.

The way I had it before made it tougher than it should be to overwrite the styles.

Now you should be able to do like what you have above - except you don't need to include the `[data-v-a99b4df2]` portion - just something like below:

[code]

or l

[2019-01-07 17:48] slieb commented on #5
No change on my end.  Did an npm update of the module and confirmed the dependency update from 3.0.1 to 3.1.0, and restarted things, but no apparent change.  As per your mail, I removed the [data…] and the CSS is as follows.  The lines I’ve highlighted in yellow below are specifically the ones I’m failing to override.

—steve

.vue-simple-context-menu__item {
    display: flex;
    color: #333;

[2019-01-07 17:51] johndatserakis commented on #5
Before I debug further - can you delete your `package-lock.json`, confirm the `3.1.0` in the `package.json`, delete your `node_modules` folder, and run `npm i` again?

Just want to make sure there's no trace of the old dep. Thanks.

[2019-01-07 17:57] slieb commented on #5
Just did it.  No change.  Sorry.

—steve

[2019-01-07 17:59] slieb commented on #5
WAIT.  I got it.  It works.

I saw in my main.css file that I was importing your vue-simple-context-menu.css file *AFTER* I imported my home.css (which is where I override things).  I moved yours to the top of the list, re-ran my app, and it works great.

THANK YOU for the quick turnaround.

—steve

[2019-01-07 18:07] johndatserakis commented on #5
No sweat - glad you got it working! Thank you.

[2019-01-07 18:07] #5 closed

[2019-02-19 20:06] xy2z opened #7 "Uncaught ReferenceError: vClickOutside is not defined"
https://jsfiddle.net/1m4c80uw/

Can't get it to work. Is there a simple non-node.js example?

[2019-02-19 21:55] johndatserakis commented on #7
Hey sorry you're having trouble.

Yea for the browser version it looks like it's throwing `Uncaught ReferenceError: vClickOutside is not defined` as an error. The npm version is working fine though - so I'm going to take a look at the build process for the browser version and see if anything is causing that.

[2019-02-20 01:22] johndatserakis commented on #7
Ok I got you - here's a new fiddle with a working browser example.

https://jsfiddle.net/johndatserakis/ay3zskmj/26/

I had to update the package because `vClickOutside` was not being properly included for the browser build. That's my bad.

As you can see in the example, I had to manually use the newest version of this library, `https://unpkg.com/vue-simple-context-menu/dist/vue-simple-context-men

[2019-02-20 08:05] xy2z commented on #7
Great, thanks!

[2019-02-20 08:05] #7 closed

[2019-04-04 01:27] justintilson opened #8 "Menus showing up off screen"
I'm trying to get your context menus working in a modal 'window' but they are not displaying where the right click occurs, instead they seem to be hanging off the bottom of the screen. It's not a z-index issue as yours (10000) is way higher than mine (1000). The following screenshot is the best way I can think of to illustrate what is going on:

![context-menu-hiding](https://user-images.githubuse

[2019-04-05 00:53] johndatserakis commented on #8
Hey there - hmm, yea seems strange as the `z-index` should be taking care of that. Are you sure the modal component parent has a low `z-index` set? Maybe it's not set at the root.

The `left` and `top` properties are set by the library, dynamically. My guess is that the modal is throwing off the values that the library is getting - like maybe offsetting that by a certain amount.

What modal compon

[2019-04-06 13:47] justintilson commented on #8
I created a stripped down version of my project and your menu system is working fine in that context. I must have some CSS somewhere that is clobbering the generated top/left coordinates.

My project has taken a different turn where I no longer need context menus. I don't think it makes sense to pour any more time into this rabbit hole. Thx for responding.

[2019-04-06 21:37] kofiasare commented on #8
Hi @johndatserakis,
I'm having a similar issue as the above. However, the context menu happens to be positioned farther away from the top.

By inspection, I see that "top left"  dynamic values (especially the top) assigned to the element are probably huge.

Please see if you can help me out.

Thanks in advance.

Attached is a screenshot of the challenge.
<img width="1438" alt="Screen Shot 2019-04-

[2019-04-06 22:45] johndatserakis commented on #8
@justintilson - ok hmm yea maybe something was giving it trouble. Hopefully it goes better next time you try to use it.

@kofiasare - Hmm, the user above wasn't able to replicate the issue in a clean project. Are you able to replicate this in a repro project so I can take a look? Sometimes there may be some other css in your project that's causing an issue.

In my use I really have never had the m

[2019-04-16 14:11] johndatserakis commented on #8
Hey @kofiasare - any update or reproduction project I can look at to help out? Thanks

[2019-04-20 01:00] johndatserakis commented on #8
Let me know if you continue to have trouble with this - closing for now.

[2019-05-27 14:30] dnalneh commented on #8
I have the same issue and I think it is because I use a vue-instance only on a part (see red border area) of a web-app. The blue spot is the point I clicked to open the menu.
![issue](https://user-images.githubusercontent.com/2178069/58426281-502eab00-809c-11e9-8c31-9cb32f6cd876.PNG)

So the width and height of the left respectively top area is added, but should not.

[2019-05-27 17:33] davbtmx opened #9 "Menu not staying displayed on Firefox 66+ (macOS)"
Hi there – On macOS, since Firefox 66 (66.0.1 - 66.0.5, and 67.0), contextual menu does not stay displayed after the right-click. The problem also occurs on the demo page, if you right-click on Jim, Dwight, or Pam. I have no problem on Safari, and as far as I know it is working correctly on Windows with Firefox 66+.

[2019-05-28 03:17] johndatserakis commented on #8
Ok let me look into this - thanks a bunch for the link and catching another example of the issue.

[2019-05-29 02:24] johndatserakis commented on #8
Ok so I did some tests using `clientX/clientY` and I don't think it'll work with the current setup. In reading the stackoverflow post it made a bit of sense - but in practice I don't think it's the right route to take maybe.

Attached are 2 screenshots - one I had my browser full size on my screen, and the second I had the bottom pulled up a bit. As you can see in the second screenshot, the menu i

[2019-05-29 02:59] johndatserakis commented on #9
Hello - thanks for this bug report. I see what you're saying and yes the right-click portion is indeed closing right after opening in Firefox.

It's weird that the left click works without issue - definitely seems like something's up with the right click usage.

I will continue to research this as it might mean that Firefox is not listening to the `prevent` and `stop` on the `@contextmenu` handler

[2019-05-29 16:21] dnalneh commented on #8
@johndatserakis
I'm afraid but I'm not allowed to give you some code. I even tried to reproduce it in a simpler example but it works as expected.

This is my current workaround, maybe it will help other people:
[code]

[2019-06-01 01:18] johndatserakis commented on #8
Ok great - thanks for that. Maybe if we find out what exactly is causing the once-in-a-while issue then we can implement this fix in real time. I'll be keeping an eye on this.

[2019-06-20 15:50] ansidev commented on #9
@davbtmx: I 've tested on Firefox Stable 67.0.3. It 's same as your report. But everything is OK on Firefox Developer Edition 68.0b11. Both are running on macOS (10.14.5).
After researching, I found a workaround for this issue: https://elementaryos.stackexchange.com/questions/16475/firefox-right-click-issue

[2019-06-21 04:19] davbtmx commented on #9
@ansidev: Indeed, after changing the param (mentionned in your link) in the config of Firefox 67.0.4 (macOS 10.13.6) it fixes the issue, and I have just tested the 68.0b12 in which the menu works fine. Thank you for the info!

[2019-06-21 11:43] ansidev commented on #9
@johndatserakis We can close this issue!

[2019-06-21 13:47] johndatserakis commented on #9
Great! Looks like the upcoming Firefox version fixes the issue. Thank you @ansidev!

[2019-06-21 13:47] #9 closed

[2019-09-01 16:46] craiggeil opened #11 "How do you activate on right vs left click?"
I looked everywhere in your code, how do you tell the menu to only appear on a right click vs left click?

[2019-09-01 17:05] johndatserakis commented on #11
Hey - use `@contextmenu.prevent.stop` to use it for right clicks, like this:

[code]

Let me know how it goes.

[2019-09-01 17:22] craiggeil commented on #11
That worked. Totally missed this "Note - make sure to use @click.prevent.stop (or @contextmenu.prevent.stop for right click) when setting up the click handler." Sorry! Nice library, thanks for all the hard work in putting it together!

[2019-09-01 17:22] #11 closed

[2019-09-01 17:31] johndatserakis commented on #11
No sweat - glad it's working.

[2019-09-02 18:47] drewstaylor commented on #8
I have the same issue. The context menu is off-screen

[2019-09-23 01:00] johndatserakis commented on #8
Hmm ok I see - thanks for the detail. Maybe the left !important override can others who come across this.

Sorry to all for this issue. It's been tough to capture it in action. If anyone has a public example of the issue I'm totally down to dive in. It's definitely a tricky one considering the positioning factors. Hopefully the fixes from @dnalneh and @drewstaylor can help in a pinch.

[2019-09-26 13:53] geri777 opened #12 "Add a CSS-class per menu item"
ENHANCEMENT:

It would be great to be able to add a CSS Class to each menu item. This would help me to style each item differently - with icons, colors, etc.

[code]

[2019-09-28 01:40] johndatserakis commented on #12
I think this is a great idea - I'm a little tied up right at the moment though. When I get a chance to do this I'll update here - also anyone can jump in if they'd like.

The implementation should target the `options` array - each object may include an optional `class` property (in addition to the existing required `name` property) that will be added dynamically to the item `li`.

Thanks for the s

[2019-10-22 02:36] johndatserakis commented on #12
Hey @geri777 - thanks for the suggestion. This feature is now added and is live at v3.1.6.

Thank you!

[2019-10-22 02:36] #12 closed

[2019-11-23 16:09] sushovan0 opened #15 ""TypeError: this.$refs.vueSimpleContextMenu.showMenu is not a function""
[Vue warn]: Error in v-on handler: "TypeError: this.$refs.vueSimpleContextMenu.showMenu is not a function".

This happens to my application. I have just followed your installations instruction steps. But I have noticed in your example source code that it is totally different from your installation usage code example.
You have also used the "vue-click-outside" package but it is not mentioned anywhe

[2019-11-23 22:37] johndatserakis commented on #15
Hey there, sorry you're having trouble using the library - I'd like to help you get this sorted out.

I'd just like to start by saying I'm a little bit confused when you bring up the `v-click-outside` package - this package is a dependency of the project, and is not something you'll need to actually interact with at all if you're importing `vue-simple-context-menu` correctly into your app. When yo

[2019-11-25 03:14] sushovan0 commented on #15
Thank you. I have followed your "codepen" link and it works fine into my application.

[2019-11-25 03:14] #15 closed

[2019-11-25 14:23] johndatserakis commented on #15
Awesome, glad to hear it.

[2019-12-01 03:00] laur89 opened #16 "[FR] close menu on Esc key"

[2019-12-03 21:14] johndatserakis commented on #16
Good suggestion - I'll get to this as soon as I am able. Thank you!

[2019-12-23 21:23] robertdrakedennis commented on #16
Couldn't you do something like ``@keydown.esc.exact="someHideMethod"?`` I know some might not want this functionality but surely this would be a good addition

[2019-12-28 23:24] johndatserakis commented on #16
Alright I got a bit of time so I went ahead and added this to the latest `v3.1.8` release in the https://github.com/johndatserakis/vue-simple-context-menu/pull/17 pull request. Thank you @laur89 laur89 for the suggestion and @robertdrakedennis for the help.

[2019-12-28 23:24] #16 closed

[2019-12-31 14:23] mewcrazy opened #19 "Menu item names needs to be trimmed"
Hello,

I just noticed in my source code, that the strings of the context menu items contain lots of spaces or tabs and that messes up my source code. (not that it matters)

See the following image:
![image](https://user-images.githubusercontent.com/6299479/71624108-2ebd1100-2be1-11ea-83ca-6ff998942768.png)

[2019-12-31 14:28] mewcrazy commented on #19
I just discoverd in your code that you wrapped a hardcoded newline and 4 spaces around the option.name.

[2020-01-18 09:58] john-dev commented on #8
I fixed it by forcing fixed positioning:
[code]

[2020-02-24 11:30] tomearly commented on #8
It tried

` ::v-deep .v-context {
    position: fixed !important;
  }`

That worked for me

[2020-03-05 05:19] rootSectornet opened #22 "how if options is other component ?"

[2020-03-18 19:50] ph1823 opened #23 "Webpack encore not build"
Hi, i am using symfony, and webpack encore for script, but he did work if i a add vue-simple-context-menu tag on my template, please help me ! Thank for your reply

[2020-04-10 07:19] germanllop commented on #8
I have the same issue, even with position fixed, because my contextmenu is inside a component, when it's rendered, it's offscreen (the component is placed as a right sidebar), if I override it to left: 0: top:0; it's apearing on the top left of the component, not the main screen.

I'm still trying to figure it out, how to get it out of the component, as dymically as it can be.

[2020-05-31 16:18] JustusW commented on #8
The issue is with modern style frameworks using padding/margins on components for positioning. Position absolute will position absolute to the parent element (in this case the first element with set positioning) - thus ignoring the flow among its siblings - but _not_ outside the flow of surrounding components.
If you add style="position: fixed; top: 0; left: 0;" on a div surrounding the menu it wi

[2020-06-09 02:12] johndatserakis commented on #23
Hi there - sorry I don't have any experience with webpack-encore. Was there any error given when you tried to add `vue-simple-context-menu`? Let me know, thanks.

[2020-06-09 02:18] johndatserakis commented on #22
Hmm, I see - maybe you can loop through the array of components and get some names to display in the `options` slot? Hopefully something like that could work. On the callback, you could listen for the specific `name` that was clicked and trigger the function you want there.

[2020-06-09 02:21] johndatserakis commented on #19
Hello @mewcrazy, I looked for that hardcoded newline but I don't see it in my editor. Could you by any chance show me exactly where you're seeing it? Strange...

[2020-07-03 13:33] nickmarkfurness opened #25 "Potential Offset Issue"
Hi,

I have the example working in my application except the menu doesn't appear where i click.
I have the component on a view that is used by the rotuer view.
I used a chrome extension to verify the x and y co-ords of the event passed to showMenu() and it is all correct except the menu not displaying where i expect.
I manually edit the menu once it has appeared and set of the top and left to 0 an

[2020-07-05 23:20] johndatserakis commented on #25
Hi there @nickmarkfurness, hmm I see what you're saying. Yea it seems like in some cases, on certain layers, like modals or other overlays, there is an issue with the positioning. Issue https://github.com/johndatserakis/vue-simple-context-menu/issues/8 also has a bit of discussion around this.

I like the idea of allowing the ability to optionally attach to an element. I'll take a stab at getting

[2020-07-06 07:36] nickmarkfurness commented on #25
My work around is to get the div and append to the body tag on the on mounted() event. This seems to work fine for me so far ...
The mouse co-ords work on the view port of the page so maybe this is done no matter what??
I have yet to check if moving it stops Vue from any potential cleanup issue and if i need to do this on the beforeDestroy() event

[2020-07-20 16:50] mwleinad commented on #8
Adding position fixed doesn't work if your website scrolls.
Position fixed add the scroll offset in top of the normal offset, so the more you scroll, the bigger the discrepancy with the context menu :(

[2020-08-01 10:16] #23 closed

[2020-08-31 19:41] mikeerickson opened #27 "Feature: Divider Line Support"
Curious if there has been thought of adding divider line support?  I am thinking it could be added into menu definition

[code]

[2020-09-01 01:22] johndatserakis commented on #27
Sure, I think that'd be a great addition. I'm think we could add a `type` property, and display a divider when the value `divider` is passed.

I'll try to get to this in the next week or so. Thank you.

[2020-09-01 02:19] mikeerickson commented on #27
Great, let me know if you need any assistance.

[2020-09-06 04:34] #27 closed

[2020-09-06 04:41] johndatserakis commented on #27
Ok great - this is now out in `v3.3.0` from this pr: https://github.com/johndatserakis/vue-simple-context-menu/pull/28.

[2020-09-14 09:52] xFeXx opened #29 "type definition"
Hi,

thank you for the neat context menu!
Are there any plans to have type definition? That would be really awesome!

Thanks in advance.

[2020-09-16 00:29] johndatserakis commented on #29
Hi there! Hmm well I can perhaps take a look at this at some point. I'm a little booked at the moment, but if I get around to it I'll update here. Thank you.

[2020-09-29 08:10] xFeXx commented on #29
Thanks in advance 👍

[2020-10-05 14:57] bkyf opened #31 "One context menu for the whole app."
Hi Γιάννη,

I cannot find out who to have only one context menu shown at a time. I have multiple right click-able elements many of which are embedded one on the other. Can you suggest a solution, as many context menus appear at the same time now.

Thanks

[2020-10-06 01:52] johndatserakis commented on #31
Yassou Babis,

Hmm, I believe this should work right out of the box.

I've set up a quick codesandbox as an example: https://codesandbox.io/s/naughty-bhabha-zi0gj?file=/src/components/HelloWorld.vue

![github-issue](https://user-images.githubusercontent.com/9972969/95149911-0dcbb280-0755-11eb-9308-855916e6a8bd.gif)

One thing to point out is that you **must** use unique `elementId` values when ini

[2020-10-06 09:14] bkyf commented on #31
Thanks for the very quick response.

It wasn't really what I was looking for. In your example, you can have two simultaneously open context menus, whereas I was looking for max one at a time. So, if I right click to the left list, a context menu opens; if I then right click on the right list, the previous context menu disappears and a new one on the right list appears -- so only one at a time. Som

[2020-10-07 03:23] johndatserakis commented on #31
Ahh ok I see, sure that shouldn't be too tough.

You can use the undocumented function built into each `vue-simple-context-menu` instance, `hideContextMenu()`. I've updated my example to do this in each `handleClick` handler. You can check it out: https://codesandbox.io/s/naughty-bhabha-zi0gj?file=/src/components/HelloWorld.vue

You could expand my rudimentary example to a more elegant solution by

[2020-10-22 00:03] mikeerickson commented on #27
@johndatserakis Hey there, I see this was added, just got around to implementing and have a display issue I wanted you to review.

![image](https://user-images.githubusercontent.com/183153/96802740-4e673500-13bf-11eb-9cb5-64c5d341ce7f.png)

I am curious if there is something else I need (updated css?)

[2020-10-22 00:09] mikeerickson opened #32 "Feature: Disabled Menu Item"
Back for another UI question / feature

I am looking to disable menu items.  When creating menus on macOS or Windows, one would do something like the following to define a disabled menuItem (see the left bracket at the end of the `name` property.  Then apply a `gray` color as the menu item text.

[code]

Or, if you want to be a bit more expressive, add a `disabled` property to menu definition obje

[2020-10-22 01:48] johndatserakis commented on #32
Hey Mike,

Ok I see what you're looking for here - and I think there's kinda already a pretty simple way for you to accomplish this - not sure if it's really worth adding as a new parameter. Let me know what you think.

What you can do now is use the `class` property option on the option you'd like disabled. Something like this:

[code]

And then in your CSS have:

[code]

Now the user will not be

[2020-10-22 01:59] johndatserakis commented on #27
Hey Mike,

Strange - yea the new css should just come when you upgraded your library.

The [live demo](https://johndatserakis.github.io/vue-simple-context-menu/) site is showing the divider without issue:

<img width="445" alt="Screen Shot 2020-10-21 at 9 49 40 PM" src="https://user-images.githubusercontent.com/9972969/96808754-7074ad80-13e7-11eb-8025-2b2088f078a4.png">

Hmm, I wonder what the iss

[2020-10-22 03:09] mikeerickson commented on #32
Hey John

This is totally acceptable to me 👍

I was not aware of the class property

[2020-10-22 13:20] mikeerickson commented on #27
Hey John

I tried to make a codepen, but I always receive an error about the missing required parameter `elementId` (which I am definitely supplying).

Here is a codepen that I started [Codedungeon vue-context-menu codepen](https://codepen.io/codedungeon/pen/ZEOBxdJ?editors=1000)

I have also created a quick Vue app (using vue cli) which can be found here:

[vue-simple-context-menu-test](https://g

[2020-10-22 13:25] mikeerickson commented on #32
Hey John

I have tried this and it works as expected.  However, if I add the class to the component `scoped` style which shows the menu, it does not work correctly.  If I move the display class to global css, it works.

Not a big deal as I have a working solution, but figured I would pass it along :-)

[2020-10-25 03:00] #32 closed

[2020-10-25 03:04] johndatserakis commented on #27
Thank you @mikeerickson for the example - that was perfect and helped me find the problem right away. There was an issue with the `box-sizing` setting on the divider. I fixed it here: https://github.com/johndatserakis/vue-simple-context-menu/pull/33. I am putting out a new version now at `v3.3.2`.

Thank you for your help on this! Sorry about the issue.

[2020-10-25 04:33] mikeerickson commented on #27
Awesome, glad it helped and you were able to cure.  I will be deploying on Monday 👍

[2020-12-03 15:43] mikeerickson opened #34 "Include fontawesome icons in contextual menu (use v-html)"
Hey there

I am trying to display fontawesome icons in my contextual menu, but alas it seems you are using simple interpolation

[code]

![image](https://user-images.githubusercontent.com/183153/101053955-385f9f00-353d-11eb-8d9a-8f8b5053ce9b.png)

Would you consider making a small adjustment?

[code]

[2020-12-03 15:55] mikeerickson commented on #34
Here is how my option array is current defined. If you want to implement another method, I am all ears :-)

Note: The actual `detailMenu` needs to change at runtime so at some point in the app, the actual fontawesome menu class will change (to denote on/off) so I need to make sure the :options are indeed reactive.

[code]

[2021-01-05 16:40] mikeerickson commented on #34
@johndatserakis Hey John, any chance on getting this supported?

[2021-01-06 00:39] mikeerickson commented on #34
@johndatserakis Hey John, if you are keen to a PR, I have one ready.  Really quite simple in the event you just want to implement it on your end and push a new version (instead of dealing with the PR)

In `./src/vue-simple-context-menu.vue` change from

[code]

to

[code]

I have tested all other functionality and no apparent issues, seems a pretty quick and dirty change

[2021-01-06 01:28] johndatserakis commented on #34
Hey there @mikeerickson - sorry I seemed to have missed this initial issue, my bad.

Sure, let me quickly make that change now and push out a new version so you can use it. I'll do that right now.

[2021-01-06 01:58] johndatserakis commented on #34
Closed via https://github.com/johndatserakis/vue-simple-context-menu/pull/35

[2021-01-06 01:58] #34 closed

[2021-01-06 02:01] johndatserakis commented on #34
Thanks again @mikeerickson - new version is out at v3.4.0.

[2021-01-06 05:05] mikeerickson commented on #34
Awesome, thanks John.  Much appreciated

[2021-02-24 16:45] coofercat commented on #8
I too have had this issue. I figured out the problem is CSS related by hacking the menu to open at (0,0). Doing so, the menu appeared in the top left of the right-hand pane in my 2 column design (ie. not in the very top left of the screen).

This then throws off the X/Y calculations, which are based on the entire screen. In other words, the calculation "thinks" the screen is 900px wide (which it i

[2021-03-10 16:37] mikeerickson opened #36 "Using jQuery Event as event..."
I am using a Vue Grid Component (jqWidget) which passes all events as jQuery Events (the Vue Component is a wrapper over their jQuery project).

When passing this event to the `.showMenu` method, it opens the contextual window at the upper left portion of page.  I am sure this is because the event passed to `.showMenu` is not a "normal" `MouseEvent` which is what is normally used from Vue event.

[2021-03-10 16:44] mikeerickson commented on #36
Well then, just a quick review of the source code and I see that it uses `.pageX` and `.pageY` of the event object.  So, all I had to do was set these properties (using the following) and all was right in the world!

[code]

[2021-03-10 16:44] #36 closed

[2021-03-18 11:12] mchl18 commented on #29
+1

[2021-04-10 20:33] mikeerickson opened #37 "Not firing option-clicked handler?"
I have used this component a number of times in various applications and all has worked out fine.

however, I have a situation in a new application where the `@option-clicked` handler method is not executed when selecting an item?

I am not sure where this has gone wrong?  Any tips on how to track this down?

[code]

Then in my component method

[code]

[2021-04-10 20:33] mikeerickson opened #38 "Option click method not being executed"
I have used this component a number of times in various applications and all has worked out fine.

however, I have a situation in a new application where the `@option-clicked` handler method is not executed when selecting an item?

I am not sure where this has gone wrong?  Any tips on how to track this down?

[code]

Then in my component method

[code]

[2021-04-16 22:36] mikeerickson commented on #38
Gosh dang it, pilot error!   It was indeed being fired, but I did not event realize my Chrome DevTools filter was enabled, so I couldn't "see" the event.

[2021-04-16 22:36] #38 closed

[2021-04-16 22:36] #37 closed

[2021-09-14 15:41] gbrits opened #39 "Inline Template issues?"
It seems this doesn't play well with inline-templates? Have you tested it out in inline-templates? Just breaks the render with no errors in console for me unfortunately.

[2021-09-14 15:44] gbrits commented on #39
I got it working by changing the `elementId` prop to kebab case and also by closing the tag verbatim:
[code]

[2021-09-19 04:34] johndatserakis commented on #39
I've seen this in unrelated components before - I believe in some environments the props must be kebab-case. Usually you can get away with it, but because HTML is case insensitive, if you're using something in a certain way, you'll run into this with any Vue component.

[2021-09-19 04:34] #39 closed

[2022-01-31 08:01] SergiyShest commented on #8
Good afternoon.

The shift occurs if the context menu is not located in the visual root.
But if I have several components, each of which uses its own context menu,
then it is much more convenient to place the context menu along with the component.
In this case, the menu starts to be rendered indented from the edge of the component (not from the edge of the window).
I managed to find a solution tha

[2022-02-11 17:27] c3-ThomasHuo opened #43 "Updating to Vue 3"
Is this on the horizon? This is a great component.

[2022-02-14 05:05] johndatserakis commented on #43
Thank you - honestly I'm super busy right now so I'm not sure exactly when I'll be able to get to it, sorry about that. I have a few libraries I need to update, so if I get a chance, I'll jump on it.

[2022-02-14 17:32] c3-ThomasHuo commented on #43
No worries, if it helps I think the main difference is how you're using vClickOutside (in Vue 3 we can no longer use Vue.use but rather createApp(App).use or something to that effect).

Not sure if any other dependencies need to be updated, but hopefully they're not too drastic.

[2022-02-15 02:41] johndatserakis commented on #43
That's helpful, thank you.

[2022-03-15 21:18] rowild opened #45 "Nuxt and simple context menu"
Hi! I am trying to implement this component with Nuxt and got it working so far – just not the click on the dropdown (yet).

I wanted to point out, that Nuxt's eslint checks for props and emits and it complains that "elementId" should be hyphenated, while "@option-clicked" could be written camelcase. So the exact opposite of what this extension shows in the example and the documentation.
Not sure

[2022-03-16 12:12] rowild opened #46 "Conditional suppress options in contextmenu?"
Is it possible with this menu to somehow show  an option in the contextmenu only, when a certain condition is met?

In my case, i have an audio wave (on a canvas) where users can add markers of different "degrees"  (1, 2 or 3, let's say). Via rightclick it shall be possible to change a marker to another degree. However, if the marker is of degree 1, only 2 menu options shall be shown: those that c

[2022-03-18 08:56] danielelkington opened #48 "Upgrade to Vue 3"
Have raised a PR https://github.com/johndatserakis/vue-simple-context-menu/pull/47

I have also published a new npm package with Vue 3 support - [vue-3-simple-context-menu](https://www.npmjs.com/package/vue-3-simple-context-menu) in case the PR is not merged or Vue 3 support is not added in this repo.

[2022-03-20 00:42] johndatserakis commented on #48
PR merged - thanks again.

[2022-03-20 00:42] #48 closed

[2022-03-20 00:48] johndatserakis commented on #46
Hey there - yup so for this case it's best to make a computed value for your options that is dynamic based on these `degrees` you mention. Doing that will allow you to have the options change as your parameters change.

[2022-03-20 00:50] johndatserakis commented on #45
Thanks for mentioning - yea let me double-check this setup. In the past I've researched this, but maybe best practices have changed (or I got it wrong at first). The main issue is that HTML is case insensitive so in some cases it can cause problems.

I'll update here.

[2022-03-20 01:00] johndatserakis commented on #45
Ok so [for the prop name](https://v2.vuejs.org/v2/style-guide/?redirect=true#Prop-name-casing-strongly-recommended), elementId should be camelCase like I have it, but when it's used in the component, it should be in kebab-case. I'll update the docs to reflect that.

If I remember correctly, the same thing goes for methods, so that's why really I think the rule is to have `camelCase` in the JS, and

[2022-03-20 02:44] #19 closed

[2022-03-20 02:45] johndatserakis commented on #22
Closing for now, will open again if needed.

[2022-03-20 02:45] #22 closed

[2022-03-20 02:45] johndatserakis commented on #25
Closing for now, will open again if needed.

[2022-03-20 02:45] #25 closed

[2022-03-20 02:47] johndatserakis commented on #29
`v4.0.1` has now been released with Vue 3 support. If I find time I will attempt to add TypeScript to the project. Sorry just been super swamped for a while now. I will review a PR for sure if someone puts one up before I do.

[2022-03-20 02:47] johndatserakis commented on #31
Closing, will reopen if needed.

[2022-03-20 02:47] #31 closed

[2022-03-20 08:39] rowild commented on #46
@johndatserakis Thanks for your response! Yes, that did it! :-)
I am very happy with your context-menu!!!

[2022-03-20 08:42] rowild commented on #45
Yes, it's about the spelling in the HTML (template) section. I should have been more precise! Thanks for checking! 👍

[2022-03-20 08:42] #45 closed

[2022-03-20 08:42] #46 closed

[2022-03-21 07:38] Rajasekhar1989 opened #50 "How to add Submenu for context menu"
I want to add Multiple Sub menus drop-downs for Context menu..

Thank you..

[2022-03-25 04:19] johndatserakis commented on #50
Hey there - yea I agree that'd be a nice feature, but I think that may be out of scope for this library and my ability in terms of free time. There's a lot that goes into that in terms of considering different layouts, which I think would be better suited for a library aimed at tree management.

[2022-05-18 14:40] jatinbphp opened #51 "import css not build with npm run build"
Hello,

I am using this in vue 3.

Its works well on local when  I run it with npm run serve command.

but when I create build for server with npm run build, css is not loading there.
import VueSimpleContextMenu from 'vue-simple-context-menu';
import 'vue-simple-context-menu/dist/vue-simple-context-menu.css';

above css is not loading, any idea how to fix this ?

[2022-05-19 01:01] johndatserakis commented on #51
Hey there, sorry you're having trouble.

Hmm, that sounds strange. What's interesting is that you said it works locally but not during the build process. That makes me think there is something up with your build process.

Can you share more code, or a project repo? Is the site live, so I can check it out? Is the other CSS in your app working?

Really the answer here is going to depend on your buil

[2022-05-19 04:08] jatinbphp commented on #51
Hello,
Thank you for quick response.
Yes, Site is live and it has repository.
My other css are working well, even if I import them from node modules.
I am using VUE CLI which I think using webpack.
At last, I have solved this issue by following your last comment. I have import css directly into my html.
So Thank you for that suggestion.
Thanks and Regards.

[2022-05-19 04:08] #51 closed

[2022-06-02 08:54] bhuvan-ganesan opened #52 "Trigger showMenu event on text selection"
Hi

I am trying to find a way to add one more event to this lib
if a user select a text in div, can we trigger showMenu event

Thanks for the help

[2022-06-05 12:11] ivan006 commented on #15
Code pen example doesnt seem to work?

[2022-06-05 12:52] ivan006 commented on #15
oh i see this error occurs when u don't instantiate the VueSimpleContextMenu component properly it seems

[2022-06-06 01:16] johndatserakis commented on #52
Hey there - sorry, I'm confused. What text, in what div are you referring to? The click event is already set up for the component. So if you want to add a click event to your own text, that sounds like something you can add on your side.

If you provide a code example I can perhaps help further.

[2022-06-15 06:20] clabnet opened #53 "Cannot read properties of undefined (reading 'showMenu')"
Hi, my code is a Vue3 Typescript Vite project with composition API with **script setup** on top, then I have not `this.$refs`
I would attach a right click menu on a div named **box**.
Right clicking on the box container I have this error:  `Cannot read properties of undefined (reading 'showMenu')`

Can you suggest me please a solution ? Thanks in advance.

[code]

[code]

The Vite plugin :
[code]

[2022-07-03 23:34] johndatserakis commented on #53
Hey there - sorry I don't use Vue3 very much so I don't know the answer off the top of my head.

In doing some research I've found a few pages that are perhaps worth visiting:

- [$refs and the Vue 3 Composition API](https://markus.oberlehner.net/blog/refs-and-the-vue-3-composition-api/)
- [How to get $refs using Composition API in Vue3?](https://stackoverflow.com/questions/71093658/how-to-get-ref

[2022-08-17 14:08] fandisus opened #54 "How to use on browser without npm"
Hi i tried using unpkg to include the script at the bottom of my html.

In web console, I got:

Could somebody please put some example.html which demonstrate the usage of unpkg version?

[2022-08-22 04:11] #50 closed

[2022-08-22 04:12] johndatserakis commented on #52
Let me know if you still have questions on this, thanks.

[2022-08-22 04:12] #52 closed

[2022-08-22 04:12] johndatserakis commented on #53
If you're still running into this issue, please reopen the thread, thanks.

[2022-08-22 04:12] #53 closed

[2022-08-22 04:18] johndatserakis commented on #54
I just tried the browser-install version for a bit and I ran into a similar issue. I also had trouble accessing the `showMenu` ref function.

When I upgraded this package to v4.0.0, I am almost positive I ran all this and confirmed it worked at that point. But I may be mistaken.

Nowadays it is common to not support a browser version as it complicates the library creation process. I'd rather drop

[2022-08-27 09:48] fandisus commented on #54
Okay. Thanks for the quick response :)

[2022-08-30 02:37] #54 closed

[2022-10-07 04:50] AlanGreyjoy commented on #53
I tried the above articles too. I don't use vue3 either, but need to now.

[code]
Throws vueSimpleContextMenu.value.showMenu is not a function.

I can't for the life of me understand why. I am 1000% hating the composition api!

[2022-10-07 04:57] AlanGreyjoy commented on #53
Looks like this will help you with vue3 (defineExpose).
https://stackoverflow.com/questions/64889756/calling-method-on-child-component-composition-api

What a pain.

[2022-11-10 03:52] qdk0901 commented on #15
replace 'elementId' with 'element-id', Code pen example should work